services:
  db:
    container_name: db
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      APP_NAME_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      APP_NAME_DATASOURCE_USERNAME: postgres
      APP_NAME_DATASOURCE_PASSWORD: postgres
    ports:
      - "8082:8082"

