services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: template-db # use specific name to reduce flyway conflicts
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    environment:
      APP_NAME_DATASOURCE_URL: jdbc:postgresql://db:5432/template-db
      APP_NAME_DATASOURCE_USERNAME: postgres
      APP_NAME_DATASOURCE_PASSWORD: postgres
    depends_on:
      - db
    ports:
      - "8082:8082"

