name: Code analysis

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  pmd-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - uses: pmd/pmd-github-action@v2
        id: pmd
        with:
          rulesets: '.github/pmd-ruleset.xml'
          sourcePath: 'src/main/java'
          analyzeModifiedFilesOnly: false

      - name: Fail build if there are violations
        if: always()
        run: |
          VIOLATIONS="${{ steps.pmd.outputs.violations }}"
          if [ -n "$VIOLATIONS" ] && [ "$VIOLATIONS" != "0" ]; then
            echo "PMD found $VIOLATIONS violations"
            exit 1
          fi
